name: Build PsychExtended + Release
run-name: PsychExtended v1.0.2 Beta 2 BugFix
on: workflow_dispatch

permissions:
  contents: write
  discussions: write

env:
  PROJECT_NAME: PsychEngine
  REPO_PATH: https://github.com/PsychExtendedThings/Psych-Extended-ReBase

jobs:
  build:
    name: ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: Android
            os: ubuntu-24.04
            buildArgs: "android -D officialBuild -final" 
            setupCommand: sh ./setup/unix.sh
            artifactName: androidBuild
            artifactPath: "export/release/android/bin/app/build/outputs/apk/release/*.apk"
            system: Android
          - name: iOS
            os: macos-15
            buildArgs: "ios -final -nosign"
            setupCommand: sh ./setup/unix.sh
            artifactName: iOSBuild
            artifactPath: "export/release/ios/build/Release-iphonesimulator/*.ipa"
            system: iOS
          - name: Windows
            os: windows-2022
            buildArgs: "windows -D officialBuild -final"
            setupCommand: .\"setup/windows.bat"
            artifactName: windowsBuild-x86_64
            artifactPath: export\release\windows\bin\*
            system: Windows
          - name: Linux
            os: ubuntu-22.04
            buildArgs: "linux -final -D officialBuild"
            setupCommand: sh ./setup/unix.sh
            artifactName: linuxBuild
            artifactPath: export/release/linux/bin/*
          - name: macOS
            os: macos-15
            buildArgs: "mac -final -D officialBuild"
            setupCommand: sh ./setup/unix.sh
            artifactName: macOSBuild
            artifactPath: export/release/macos/bin/*
    uses: ./.github/workflows/build.yml
    with:
        name: ${{ matrix.name }}
        os: ${{ matrix.os }}
        setupCommand: ${{ matrix.setupCommand }}
        buildArgs: ${{ matrix.buildArgs }}
        artifactName: ${{ matrix.artifactName }}
        artifactPath: ${{ matrix.artifactPath }}
        system: ${{ matrix.system }}

  Releaser:
    needs: build
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Download Android Build
        uses: actions/download-artifact@main
        with:
           name: androidBuild
           path: /home/runner

      - name: Move Android File
        run: mv /home/runner/${{ env.PROJECT_NAME }}-release.apk /home/runner/PsychExtended-v102-Beta2-Update.apk

      - name: Download iOS Build
        uses: actions/download-artifact@main
        with:
          name: iOSBuild-ASTC
          path: ${{ github.workspace }}

      - name: Move iOS File
        run: mv ${{ github.workspace }}/${{ env.PROJECT_NAME }}.ipa /home/runner/PsychExtended-v102-Beta2-Update.ipa

      - name: Download Windows x86_64 Build
        uses: actions/download-artifact@main
        with:
          name: windowsBuild-x86_64
          path: /home/runner/windowsBuild-x86_64

      - name: Zip Windows x86_64 Build For Release
        run: |
          cd /home/runner/windowsBuild-x86_64
          zip -r "/home/runner/windowsBuild-x86_64.zip" .

      - name: Download Linux Build
        uses: actions/download-artifact@main
        with:
          name: linuxBuild
          path: /home/runner/linuxBuild

      - name: Tar Linux ARM64 Build For Release
        run: |
          cd /home/runner/linuxBuild
          tar czf "/home/runner/Linux.tar" .

      - name: Download macOS Build
        uses: actions/download-artifact@main
        with:
          name: macOSBuild
          path: /home/runner/macOSBuild

      - name: Tar macOS Build For Release
        run: |
          cd /home/runner/macOSBuild
          tar czf "/home/runner/macOS.tar" .

      - name: Publish The Release
        uses: softprops/action-gh-release@v2
        with:
          name: "V1.0.2 Beta 2 BugFix"
          tag_name: "1.0.2-beta2-bugfix"
          prerelease: true
          files: |
            /home/runner/*.apk
            /home/runner/*.zip
            /home/runner/*.tar
